

<div class="row">
     
    <div class="col-md-12">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Produits </h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label>nom </label>
                  <input type="text" name ="nom" class="form-control"  >            
                        </div>
                        <div class="form-group">
                            <label>price</label>
                            <input type="text" name ="nom" class="form-control"  >            
                                  </div>
                                  <div class="form-group">
                                    <label>Category</label>
                                    <input type="text" name ="nom" class="form-control"  >            
                                          </div>
                                <div class="form-group">
                                      <label>Choose a picture: </label>
                                      <input type="file" name="image" accept="image/*" id="img"> 
                                    </div>
                    
              </div>
              </div>
              
            
              
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
